<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Page</title>
</head>
<body>
  <h1>CBT Dashboard</h1>

    <h4>Welcome <span th:text="${session.username}"></span></h4>



    <div>
        <h2>Your Profile</h2>
        <table>
            <tr>
                <td>
                    <strong>Full Name:</strong>
                    <span th:text="${details.fname}"></span>
                    <span th:text="${details.lname}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Email:</strong>
                    <span th:text="${details.email}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Phone:</strong>
                    <span th:text="${details.phone}"></span>
                </td>
            </tr>
        </table>
    </div>
+
 <div>
    <h2>Fill Your Details</h2>

    <form action="details" method="POST">
        <label for="usernameDetail">Username:</label>
        <input type="text" id="usernameDetail" name="username"><br><br>

        <label for="fnameDetail">First Name:</label>
        <input type="text" id="fnameDetail" name="fname"><br><br>

        <label for="lnameDetail">Last Name:</label>
        <input type="text" id="lnameDetail" name="lname"><br><br>

        <label for="emailDetail">Email:</label>
        <input type="email" id="emailDetail" name="email"><br><br>

        <label for="phoneDetail">Phone:</label>
        <input type="tel" id="phoneDetail" name="phone"><br><br>

        <label for="typeDetail">Choose user type(Seller/Buyer)::</label>
        <input type="text" id="typeDetail" name="type"><br><br>

        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>

