<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interim Dashboard</title>
</head>
<body>
<div>
    <h2>Fill Your Details</h2>

    <form action="userdetail" method="POST">
        <label for="usernameDetail">Username:</label>
        <input type="text" id="usernameDetail" name="username"><br><br>

        <label for="fnameDetail">First Name:</label>
        <input type="text" id="fnameDetail" name="fname"><br><br>

        <label for="lnameDetail">Last Name:</label>
        <input type="text" id="lnameDetail" name="lname"><br><br>

        <label for="emailDetail">Email:</label>
        <input type="email" id="emailDetail" name="email"><br><br>

        <label for="phoneDetail">Phone:</label>
        <input type="tel" id="phoneDetail" name="phone"><br><br>

        <label for="typeDetail">Type:</label>
        <input type="type" id="typeDetail" name="type"><br><br>



        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>