<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>
    <h2>Welcome to sharda </h2>
    <div>
        <form action="signup" method="post">
            <h3>SIGNUP</h3>

            <label for="usernameSignup">USERNAME</label>
            <input type="text" id="usernameSignup" name="username"> <br> <br>

            <label for="passwordSignup">PASSWORD</label>
            <input type="password" id="passwordSignup" name="password"> <br> <br>

            <input type="submit" value="SIGNUP">

        </form>
    </div>


    <div>
        <form action="login" method="post">
            <h3>LOGIN</h3>

            <label for="usernameSignup">USERNAME</label>
            <input type="text" id="usernamelogin" name="username"> <br> <br>

            <label for="passwordSignup">PASSWORD</label>
            <input type="password" id="passwordlogin" name="password"> <br> <br>

            <input type="submit" value="LOGIN">

        </form>
    </div>
</body>
</html>
